<launch>
    <node pkg="tf" type="static_transform_publisher" name="elikos_arena_origin" args="0.0 0.0 0.0 0.0 0.0 0.0 world elikos_arena_origin 100"/>

    <include file="$(find elikos_roomba)/launch/service_redirect.launch">
        <arg name="robot_qty" value="3" />
    </include>
    
    <group ns="robot1">
        <node name="groundrobot_node" pkg="elikos_roomba" type="groundrobot_node" output="screen">
            <param name="robot_id" value="1" />
        </node>
        <node name="robotviz_node" pkg="elikos_roomba" type="robotviz_node" output="screen">
            <param name="init_pos_x" value="0.0" />
            <param name="init_pos_y" value="0.0" />
            <param name="init_pos_z" value="0.0" />
            <param name="init_yaw" value="0.0" />
            <param name="robot_id" value="1" />
        </node>
    </group>

    <group ns="robot2">
        <node name="groundrobot_node" pkg="elikos_roomba" type="groundrobot_node" output="screen">
            <param name="robot_id" value="2" />
        </node>
        <node name="robotviz_node" pkg="elikos_roomba" type="robotviz_node" output="screen">
            <param name="init_pos_x" value="0.0" />
            <param name="init_pos_y" value="1.0" />
            <param name="init_pos_z" value="0.0" />
            <param name="init_yaw" value="0.0" />
            <param name="robot_id" value="2" />
        </node>
    </group>

    <group ns="robot3">
        <node name="groundrobot_node" pkg="elikos_roomba" type="groundrobot_node" output="screen">
            <param name="robot_id" value="3" />
        </node>
        <node name="robotviz_node" pkg="elikos_roomba" type="robotviz_node" output="screen">
            <param name="init_pos_x" value="-1.0" />
            <param name="init_pos_y" value="0.0" />
            <param name="init_pos_z" value="0.0" />
            <param name="init_yaw" value="0.5" />
            <param name="robot_id" value="3" />
        </node>
    </group>

    <node pkg="rviz" type="rviz" name="rviz_node" args="-d $(find elikos_roomba)/config/robot_viz.rviz" />

    <!-- Call activation services -->
    <node pkg="rosservice" type="rosservice" name="r1activate" args="call --wait /robot1/activate"/>
    <node pkg="rosservice" type="rosservice" name="r2activate" args="call --wait /robot2/activate"/>
    <node pkg="rosservice" type="rosservice" name="r3activate" args="call --wait /robot3/activate"/>
</launch>