<launch>
    <!-- Arguments -->
    <arg name="robot_id" default="1" />
    <arg name="init_pos_x" default="0.0" />
    <arg name="init_pos_y" default="0.0" />
    <arg name="init_pos_z" default="0.0" />
    <arg name="init_yaw" default="0.0" />
    
    <group ns="robot$(arg robot_id)">
        <node name="groundrobot_node" pkg="elikos_roomba" type="groundrobot_node" output="screen">
            <param name="robot_id" value="$(arg robot_id)" />
        </node>
        <node name="robotviz_node" pkg="elikos_roomba" type="robotviz_node" output="screen">
            <param name="init_pos_x" value="$(arg init_pos_x)" />
            <param name="init_pos_y" value="$(arg init_pos_y)" />
            <param name="init_pos_z" value="$(arg init_pos_z)" />
            <param name="init_yaw" value="$(arg init_yaw)" />
            <param name="robot_id" value="$(arg robot_id)" />
        </node>
    </group>
</launch>